<TMPL_IF HTML5><!DOCTYPE html>
<html>
<TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</TMPL_IF>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<TMPL_IF DYNAMIC>
<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
<TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
<title><TMPL_VAR TITLE></title>
<TMPL_IF FAVICON>
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>bootstrap/css/bootstrap-responsive.css" />
<TMPL_IF LOCAL_CSS>
<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
<TMPL_ELSE>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
</TMPL_IF>
<TMPL_IF EDITURL>
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
</TMPL_IF>
<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>
<style type="text/css">
@media (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
  }
}
</style>
</head>
<body style="padding-top: 60px; padding-bottom: 60px;">

<div class="container">

  <TMPL_IF HTML5><article class="page row-fluid"><TMPL_ELSE><div class="page row-fluid"></TMPL_IF>

  <div>
    <TMPL_IF HTML5><section class="pageheader"><TMPL_ELSE><div class="pageheader"></TMPL_IF>
    <TMPL_IF HTML5><header class="header"><TMPL_ELSE><div class="header"></TMPL_IF>
    <h1>
    <TMPL_VAR TITLE>
    <TMPL_IF ISTRANSLATION>
    &nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)
    </TMPL_IF>
    </h1>
    <TMPL_IF SEARCHFORM>
    <TMPL_VAR SEARCHFORM>
    </TMPL_IF>
    <TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF>

    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

    <div id="pagebody">

    <TMPL_IF HTML5><section id="content"><TMPL_ELSE><div id="content"></TMPL_IF>
    <!--
    <p class="pagedate">
    <TMPL_IF HAS_PARENTLINKS><strong>Posted <TMPL_VAR CTIME></strong></TMPL_IF>
    </p>
    -->
    <TMPL_VAR CONTENT>
    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

    <hr />

    <TMPL_UNLESS DYNAMIC>
    <TMPL_IF COMMENTS>
    <TMPL_IF HTML5><section id="comments"><TMPL_ELSE><div id="comments"></TMPL_IF>
    <TMPL_VAR COMMENTS>
    <TMPL_IF ADDCOMMENTURL>
    <div class="addcomment">
    <a href="<TMPL_VAR ADDCOMMENTURL>">Add a comment</a>
    </div>
    <TMPL_ELSE>
    <div class="addcomment">Comments on this page are closed.</div>
    </TMPL_IF>
    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
    </TMPL_IF>
    </TMPL_UNLESS>

    </div>

    <TMPL_IF HTML5><footer id="footer" class="pagefooter"><TMPL_ELSE><div id="footer" class="pagefooter"></TMPL_IF>
    <TMPL_UNLESS DYNAMIC>
    <TMPL_IF HTML5><nav id="pageinfo"><TMPL_ELSE><div id="pageinfo"></TMPL_IF>

    <TMPL_IF TAGS>
    <TMPL_IF HTML5><nav class="tags"><TMPL_ELSE><div class="tags"></TMPL_IF>
    <strong>Tags:</strong>
    <TMPL_LOOP TAGS>
    <TMPL_VAR LINK>
    </TMPL_LOOP>
    <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
    </TMPL_IF>

    <TMPL_IF BACKLINKS>
    <TMPL_IF HTML5><nav id="backlinks"><TMPL_ELSE><div id="backlinks"></TMPL_IF>
    Links:
    <TMPL_LOOP BACKLINKS>
    <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
    </TMPL_LOOP>
    <TMPL_IF MORE_BACKLINKS>
    <span class="popup">...
    <span class="balloon">
    <TMPL_LOOP MORE_BACKLINKS>
    <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
    </TMPL_LOOP>
    </span>
    </span>
    </TMPL_IF>
    <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
    </TMPL_IF>

    <TMPL_IF COPYRIGHT>
    <div class="pagecopyright">
    <a name="pagecopyright"></a>
    <TMPL_VAR COPYRIGHT>
    </div>
    </TMPL_IF>

    <TMPL_IF LICENSE>
    <div class="pagelicense">
    <a name="pagelicense"></a>
    License: <TMPL_VAR LICENSE>
    </div>
    </TMPL_IF>

    <!--<div class="pagedate">
    Last edited <TMPL_VAR MTIME>
    </div> -->

    <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
    <TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
    </TMPL_UNLESS>
    <!-- from <TMPL_VAR WIKINAME> -->
    <TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>

  </div>

  <div class="span4">

    <TMPL_IF SIDEBAR>
    <TMPL_IF HTML5><aside class="sidebar"><TMPL_ELSE><div class="sidebar"></TMPL_IF>
    <TMPL_VAR SIDEBAR>
    <TMPL_IF HTML5></aside><TMPL_ELSE></div></TMPL_IF>
    </TMPL_IF>

  </div>

  <TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF>
</div>

</body>
</html>
